/* Navbar.css */
@import './../Util/Colors.css';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #4a90e2; /* Notion-inspired color */
  color: white;
  font-family: Arial, sans-serif;

  overflow: hidden;
  background: linear-gradient(45deg, #451952, #662549, #AE445A);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 18px;
  margin: 0 0 0 1rem;
}

.close-button-nav {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  margin-right: 1rem;
  /* border: none; */
}

.DropdownMenu_container {
  z-index: 10000000;
}